*{ margin: 0px;
  padding: 0px;
}

body{
  background-color: #DAD2BC;
}

.h2productos{
  display: grid;
  text-align: center;
  padding: 30px;
}

.texto{
  text-align: center;
  padding: 20px;
}


.pie{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

.logo{
  width: 30%;
  height: 30%;
  cursor: pointer;
}

.form{
  padding: 4px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.mapa1{
  display: block;
  margin:auto;
  padding-top: 20px;
}

.fotoproductos{
  width: 300px;
  height: 500px;
  padding: 40px;
}

#carouselExampleIndicators{
  height: 700px;
  width: 500px;
  display: block;
  margin: auto;
  padding-bottom: 40px;
}

.navtransition{
  font-size: 25px;
  transition: font-size 0.5s ease;
}

.navtransition:hover{
  font-size: 30px;
}

.inputs{
  border-radius: 5px;
  background-color: rgb(180, 134, 55);
  transition: 0.5s linear;
  display: block;
  margin: auto;
  font-size: 20px;
}

.inputs:hover{
  border-radius: 15px;
  padding: 20px;
}

.textarea{
  display: block;
  margin: auto;
}

.logoinstagram{
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100px;
  width: 100px;
}

.backcolornav{
  background-color: #A99985;
}





